/* Equal to height of footer */
/* But also accounting for potential margin-bottom of last child */
/* margin-bottom: -50px; */

body{
    background-color: #E0E0E0;
    font-family: 'Poppins', sans-serif;
}

.text-content{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #550026;
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
    text-align: left;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxx TOP BAR xxxxxxxxxxxxxxxxxxxxxxxxxx*/

.nav-topper{
    background-color: #550026;
    min-height: 10px;
}

.navbar{
    padding-left: 2em;
    background-color: #870d4e;
}

.navbar-elements{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#main-slogan{
    position: absolute;
    right: 10%;
    bottom: 0;
    color: #CD888C;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
}

.nav-shadow{
    background-color: #bb467a;
    min-height: 10px;
}

.bottom-bar{
    width: 100%;
    height: 40px;
    background-color: #bb467a;
    position: inherit;
    bottom: 0px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
}

.bottom-bar-top{
    width: 100%;
    background-color: #550026;
    height: 10px;
    position: inherit;
    bottom: 40px;
}

.top-button, .top-button-right{
    margin-bottom: -24px;
    font-weight: 400;
    color: #bb467a;
}

.top-button-right, .top-button-right:hover{
    position: absolute;
    right: 0;
}

.top-button:hover, .top-button-right:hover{
    color: #550026;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxx  MECHANIC DASHBOARD MENU xxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.mechanic-menu{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-top:10px;
}

a.main-menu-button{
    background-color: #870d4e;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.main-menu-button:hover{
    background-color: #550026;
}

a.main-menu-button:active{
    background-color: #fff;
    color: #bb467a;
}

a.this-page, a.this-page:hover, a.this-page:active{
    background-color: #bb467a;
    color: #fff;
    cursor: default;
}

.main-menu-mechanic{
    padding-left: 50px;
    padding-right: 50px;   
}

/* xxxxxxxxxxxxxxxxxxxxxxxxx  MAIN PANEL xxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.main-panel, .options-panel{
    background-image: url("../img/main_panel_background.png");
    background-repeat: no-repeat;
    background-position: top center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 20px;
    background-color: #E0E0E0;
}

.options-panel{
    margin-top: 0;
    background-image: none;
    padding-top: 20px;
}

.welcome-name{
    position: absolute;
    right: 50%;
}

/*xxxxxxxxxxxxxxx PANEL ELEMENTS xxxxxxxxxxxxxxxxxxxxxx*/

.display-panel{
    display: inline-flex;
}

.display-login-panel{
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.display{
    text-align: center;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

#display-picture-mechanic, #display-picture-driver, #display-picture-existing-driver, #display-picture-new-driver{
    width: 200px;
    height: 200px;
    box-shadow: 4px 4px 0 rgb(0,0,0, 0.3);
}

#display-picture-mechanic{
    background: url("../img/mech_login_img.png");
    content: url("../img/mech_login_img.png");
}

#display-picture-driver{
    background: url("../img/driver_login_img.png");
    content: url("../img/driver_login_img.png");
}

#display-picture-existing-driver{
    background: url("../img/driver_exis_img.png");
    content: url("../img/driver_exis_img.png");
}

#display-picture-new-driver{
    background: url("../img/driver_new_img.png");
    content: url("../img/driver_new_img.png");
}

#display-picture-mechanic:hover {
    content: url("../img/mech_login_img_over.png");
}

#display-picture-driver:hover {
    content: url("../img/driver_login_img_over.png");
}

#display-picture-existing-drive:hover {
    content: url("../img/driver_exis_img.png");
}

#display-picture-new-driver:hover {
    content: url("../img/driver_new_img.png");
}

.display-description-mechanic, .display-description-driver, .display-description-new-driver, .display-description-existing-driver{
    background-color: #560027;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #e1e2e1;
    clear: both; 
}

.display-description-driver{
    background-color: #bb467a;
}

.display-description-new-driver{
    background-color: #560027;
}

.display-description-existing-driver{
    background-color: #880E4F;
}

.display-login-panel{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

#display-login-mechanic, #display-pass-mechanic, #display-submit-mechanic{
    padding: 5px;
    text-align: left;
    font-size: 16px;
}

#mechanic-login, #mechanic-pass, #login-submit, .info-submit{
    width: 100%;
}

label{
    color: #870d4e;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

#driver-login::-webkit-input-placeholder { /* chrome */
    color:#BEA9B3 !important;
}

#driver-pass::-webkit-input-placeholder { /* chrome */
    color:#DABECB !important;	
}

#driver-pass {
    border-color: #BC477B;
    /* color: #DABECB;for firefox */
    -webkit-text-security: square !important;
}

input.login-submit, .book-click, .info-submit{
    background-color: #880E4F;
    color: #fff;
    border: none;
    box-shadow: 4px 4px 0 rgb(0,0,0, 0.3);
}

.login-submit:hover, .book-click, .info-submit:hover{
    background-color: #550026;
    color: #fff;
}

.book-click{
    font-size: 28px;
    font-weight: bold;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.roster-vehicle-options{
    display: inline-block;
}

/* xxxxxxx GENERAL: INNER PANELS xxxxxxx*/

.thin-frame{
    display: inline-block;
    border: 1px solid #870d4e;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

#weekly-calendar, #roster-table{
    display: inline-block;
}	

#weekly-calendar{
    padding-left: 7px;
}

#form-step-frame{
    width: 586px;
}

label{
    color: #870d4e;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.single-day-preview{
    height: 70px;
    width: 70px;
    margin-right: 7px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    background-color: #bb467a;
    vertical-align: 50%;
    float: left;
}

.single-day-preview:hover{
    background-color: #f297c3;
}

.input-frame{
    width: 360px;
    border: 6px solid #870d4e;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    color: #BEA9B3;
    border-radius: 0px;
    border-radius: 0px;
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.select-option{
    width: 100%;
    border: 0;
    color: #770000;
    background: none;
}

.calendar-frame{
    width:100%;
    text-align: center;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    background-color: #EFEFEF;
}

/* xxxxxxxxxx DASHBOARD xxxxxxxxxxxxxxxxx*/

.panels-in-dashboard{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

/* xxxxxxxxxx TABLE FORMATTING xxxxxxxxxx */

table, #free-slot-date{
    border: 0;
    font-family: 'Poppins', sans-serif;
}

th, td{
    min-width: 80px;
    border: 0.5px solid #550026;
    border: collapse;
}

td:first-child, th:first-child {
    border-left: none;
}

td:last-child, th:last-child {
    border-right: none;
}


tr:nth-child(even){
    background: #c7c7c7;
}

tr > td {
    border-top: 0;
    border-bottom: 0;
}

th, td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

th{
    background-color: #bb467a;
    color: #fff;
}

#free-slot-date{
    color: #fff;
    text-align: center;
}

tr.top-header > th, .top-header, #free-slot-date{
    background-color: #550026;
    font-weight: 600;
}

/* xxxxxxxxxx VEHICLE DETAILS xxxxxxxxx */

.hidden-text-frame{
    margin-top: -8px;
    min-width: 100%;
}

.input-text{
    border: 0;
    background: none;
    color: #770000;
    padding-left: 10px;

}

.display-only-input{
    border: 0;
    background: transparent;
    text-align: center;
}

.vehicle-option-column{
    display: inline-block;
}

/* xxxxxxxxxxx WARNING IF EMPTY xxxxxxxxxxxxxx */

.warning, .warning-top{
    color: #ff0026;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: -8px;
    font-weight: 600;
}

.warning-top{
    margin-top: 0;
    margin-bottom: 0;
}

/* xxxxxxxxxxx LISTS FORMATTING xxxxxxxxxxx */

.radio-button {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

ul.logo-bulletpoint > li {
    background: url('../img/paragraph-mark.png') no-repeat left;
    padding: 3px 0 3px 12px;
    display: block;
    vertical-align: middle;
}

#other-model-to-put, #other-make-to-put{
    visibility: hidden;
    margin-bottom: -50px;
}

@media (max-width: 575px)  {
    h1{
        font-size: 36px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color:  #330066;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .frame{
        margin-left: auto;
        margin-right: auto;
        border: 0;
        border-radius: 5px;
        padding-bottom: 10px;
        background-color: #aa99ff;
        box-shadow: none;
    }

    body{
        background-color: #EFEFEF;;	
    }
}